<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/public/admin/css/pintuer.css">
<link rel="stylesheet" href="/public/admin/css/admin.css">
<script src="/public/admin/js/jquery.js"></script>
<script src="/public/admin/js/pintuer.js"></script>
</head>
<body>
<form method="post" action="" id="listform">
  <div class="panel admin-panel">
    <table class="table table-hover text-center">
      <volist name="list" id="vo">
        <tr>
          <td>网站域名:</td>
          <td><font color="#00CC99"><?php echo $config['url'];?></font></td>
        </tr><tr>
          <td>网站目录:</td>
          <td><font color="#00CC99"><?php echo $config['document_root'];?></font></td>
        </tr><tr>
          <td>服务器操作系统:</td>
          <td><font color="#00CC99"><?php echo $config['server_os'];?></font></td>
        </tr><tr>
          <td>服务器端口:</td>
          <td><font color="#00CC99"><?php echo $config['server_port'];?></font></td>
        </tr><tr>
          <td>服务器IP:</td>
          <td><font color="#00CC99"><?php echo $config['server_ip'];?></font></td>
        </tr><tr>
          <td>服务器环境:</td>
          <td><font color="#00CC99"><?php echo $config['server_soft'];?></font></td>
        </tr><tr>
          <td>PHP版本:</td>
          <td><font color="#00CC99"><?php echo $config['php_version'];?></font></td>
        </tr>
        <tr>
          <td>MySQL版本:</td>
          <td><font color="#00CC99"><?php echo $config['mysql_version'];?></font></td>
        </tr><tr>
          <td>最大上传限制:</td>
          <td><font color="#00CC99"><?php echo $config['max_upload_size'];?></font></td>
        </tr>
      </volist>
      <tr>
      </tr>
    </table>
  </div>
</form>
<script type="text/javascript">
</script>
</body>
</html>