<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/public/admin/css/pintuer.css">
<link rel="stylesheet" href="/public/admin/css/admin.css">
<script src="/public/admin/js/jquery.js"></script>
<script src="/public/admin/js/pintuer.js"></script>
  <!-- laydate插件引入 -->
  <script type="text/javascript" src="/public/admin/js/laydate.js"></script>
  <!-- 引入百度在线编辑器，需要注意的是，顺序不能变 -->
  <script type="text/javascript" src="/public/ueditor/ueditor.config.js"></script>
  <script type="text/javascript" src="/public/ueditor/ueditor.all.min.js"></script>
  <script type="text/javascript" src="/public/ueditor/lang/zh-cn/zh-cn.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增加内容</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" enctype="multipart/form-data" action="">
      <!-- 告知TP修改那条主键ID的记录 -->
      <input type="hidden" name="goods_id" value="<?php echo $goodsInfo['goods_id'];?>">
      <div class="form-group">
        <div class="label">
          <label>商品名称：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="<?php echo $goodsInfo['goods_name'];?>" name="goods_name" data-validate="required:请输入商品名称" />
          <div class="tips"></div>
        </div>
      </div><div class="form-group">
        <div class="label">
          <label>商品价格：</label>
        </div>
        <div class="field">
          <input type="text" name="goods_price" value="<?php echo $goodsInfo['goods_price'];?>"/>
          <div class="tips"></div>
        </div>
      </div><div class="form-group">
        <div class="label">
          <label>商品库存：</label>
        </div>
        <div class="field">
          <input type="text" name="goods_number" value="<?php echo $goodsInfo['goods_number'];?>"/>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>是否上架：</label>
        </div>
        <div class="field">
          <input type="radio" name="is_sale" value= '1' <?php echo $goodsInfo['is_sale'] == 1 ? 'checked="checked"' : '';?> /> 是
          <input type="radio" name="is_sale" value= '0' <?php echo $goodsInfo['is_sale'] == 0 ? 'checked="checked"' : '';?>/> 否
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>是否新品：</label>
        </div>
        <div class="field">
          <input type="radio" name="is_new" value= '1'<?php echo $goodsInfo['is_new'] == 1 ? 'checked="checked"' : '';?> /> 是
          <input type="radio" name="is_new" value= '0' <?php echo $goodsInfo['is_new'] == 0 ? 'checked="checked"' : '';?> /> 否
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>是否热销：</label>
        </div>
        <div class="field">
          <input type="radio" name="is_hot" value= '1' <?php echo $goodsInfo['is_hot'] == 1 ? 'checked="checked"' : '';?>/> 是
          <input type="radio" name="is_hot" value= '0' <?php echo $goodsInfo['is_hot'] == 0 ? 'checked="checked"' : '';?>/> 否
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>是否精品：</label>
        </div>
        <div class="field">
          <input type="radio" name="is_best"  value= '1' <?php echo $goodsInfo['is_best'] == 1 ? 'checked="checked"' : '';?>/> 是
          <input type="radio" name="is_best" value= '0' <?php echo $goodsInfo['is_best'] == 0 ? 'checked="checked"' : '';?>/> 否
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>是否显示二维码：</label>
        </div>
        <div class="field">
          <input type="radio" name="is_code_show"  value= '1' <?php echo $goodsInfo['is_code_show'] == 1 ? 'checked="checked"' : '';?> /> 是
          <input type="radio" name="is_code_show" value= '0' <?php echo $goodsInfo['is_code_show'] == 0 ? 'checked="checked"' : '';?>/> 否
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>是否生成二维码：</label>
        </div>
        <div class="field">
          <input type="radio" name="is_code" value= '1' <?php echo $goodsInfo['is_code'] == 1 ? 'checked="checked"' : '';?>/> 是
          <input type="radio" name="is_code" value= '0' <?php echo $goodsInfo['is_code'] == 0 ? 'checked="checked"' : '';?>/> 否
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>商品图片：</label>
        </div>
        <div class="field">
          <?php if( $goodsInfo['goods_img']){
                            echo "<img src='".$rootPath.$goodsInfo['goods_img']."' width='200px;' />";
          }else{
          echo "暂无图片";
          }

          ?>
          <input type="file" name="goods_img" value="" />
        </div>
      </div>
      
      <if condition="$iscid eq 1">
        <div class="form-group">
          <div class="label">
            <label>商品类型：</label>
          </div>
          <div class="field">
            <select name="cid" class="input w50">
              <option value="">请选择分类</option>
              <?php foreach ($typeData as $k => $v):
              if($v['id'] == $goodsInfo['type_id']){
              $selected = "selected='selected'";
              }else{
              $selected = "";
              }
              ?>
              <option <?php echo $selected;?> value="<?php echo $v['id'];?>"><?php echo $v['type_name'];?></option>
              <?php endforeach ?>
            </select>
            <div class="tips"></div>
          </div>
        </div>
        <div class="form-group" style="display:none;" id="goodsAttrShow">
          <div class="label">
            <label>属性框：</label>
          </div>
          <div class="field" id="goodsAttr">
            <div class="tips"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="label">
            <label>商品分类：</label>
          </div>
          <div class="field">
            <select name="cid" class="input w50">
              <option value="">请选择分类</option>
              <?php foreach ($categoryData as $k => $v):
              if($v['cat_id'] == $goodsInfo['cat_id']){
              $selected = "selected='selected'";
              }else{
              $selected = "";
              }
              ?>
              <option <?php echo $selected;?> value="<?php echo $v['cat_id'];?>">
              <?php echo str_repeat('+', $v['level'] * 2) . $v['cat_name'];?>
              </option>
              <?php endforeach ?>
            </select>
            <div class="tips"></div>
          </div>
        </div>
      </if>
      <div class="form-group">
        <div class="label">
          <label>商品描述：</label>
        </div>
        <div class="field">
          <textarea id="content" rows="10" cols="40" name="goods_descp"><?php echo $goodsInfo['goods_descp'];?></textarea>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>发布时间：</label>
        </div>
        <div class="field">
          <input type="text" name="created" id="created" value="<?php echo date("Y-m-d H:i:s", $goodsInfo['created']);?>" class="laydate-icon" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="clear"></div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>

</body>
<script type="text/javascript">
  // 调用在线编辑器 content 上面定义的textarea的id属性
  UE.getEditor("content",{
    "initialFrameWidth" : 850,
    "initialFrameHeight" : 240,
  });
  // 日历插件的使用
  laydate({
    'elem' : "#created", // 在哪一个input框使用laydate插件
    'istime' : true, // 列出今天的时间
    'format': 'YYYY-MM-DD hh:mm:ss', // 时间格式
  });
</script>
</html>